{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": { "corejs": 3, "useBuiltIns": "usage" }
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["babel-plugin-styled-components"]
  ],
  "env": {
    "production": {
      "plugins": [["babel-plugin-styled-components", { "displayName": false }]]
    }
  }
}
