{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint", "react", "react-hooks"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:react/recommended"
  ],
  "rules": {
    "accessor-pairs": ["error", { "enforceForClassMembers": true }],
    "array-callback-return": "error",
    "class-methods-use-this": "error",
    "curly": ["error", "multi-line", "consistent"],
    "default-param-last": "error",
    "dot-notation": "error",
    "eqeqeq": ["error", "always", { "null": "ignore" }],
    "max-classes-per-file": "error",
    "no-alert": "error",
    "no-caller": "error",
    "no-else-return": "error",
    "no-eval": "error",
    "no-extra-bind": "error",
    "no-implicit-coercion": ["error"],
    "no-implied-eval": "error",
    "no-invalid-this": "error",
    "no-iterator": "error",
    "no-labels": "error",
    "no-lone-blocks": "error",
    "no-loop-func": "error",
    "no-multi-str": "error",
    "no-new": "error",
    "no-new-func": "error",
    "no-new-wrappers": "error",
    "no-octal": "error",
    "no-octal-escape": "error",
    "no-proto": "error",
    "no-restricted-properties": [
      "error",
      {
        "object": "Math",
        "property": "pow",
        "message": "Please use the exponentiation operator (**) instead."
      }
    ],
    "no-return-assign": "error",
    "no-return-await": "error",
    "no-script-url": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-throw-literal": "error",
    "no-unmodified-loop-condition": "error",
    "no-unused-expressions": "error",
    "no-useless-call": "error",
    "no-useless-concat": "error",
    "no-useless-return": "error",
    "no-void": "error",
    "prefer-regex-literals": "error",
    "radix": "error",
    "yoda": "error",
    "no-undef-init": "error",
    "func-style": ["error", "declaration", { "allowArrowFunctions": true }],
    "lines-between-class-members": [
      "error",
      "always",
      { "exceptAfterSingleLine": true }
    ],
    "max-depth": ["error", { "max": 4 }],
    "max-nested-callbacks": ["error", { "max": 3 }],
    "max-params": ["error", { "max": 4 }],
    "no-lonely-if": "error",
    "no-multi-assign": "error",
    "no-negated-condition": "error",
    "no-new-object": "error",
    "no-unneeded-ternary": "error",
    "one-var": ["error", "never"],
    "prefer-object-spread": "error",
    "spaced-comment": "error",
    "no-useless-computed-key": "error",
    "no-useless-rename": "error",
    "object-shorthand": "error",
    "prefer-arrow-callback": "error",
    "prefer-const": "error",
    "prefer-destructuring": [
      "error",
      {
        "VariableDeclarator": { "array": true, "object": true },
        "AssignmentExpression": { "array": false, "object": false }
      }
    ],
    "prefer-numeric-literals": "error",
    "prefer-template": "error",
    "symbol-description": "error",
    "@typescript-eslint/array-type": "error",
    "@typescript-eslint/consistent-type-definitions": ["error", "type"],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/member-delimiter-style": [
      "error",
      {
        "multiline": { "delimiter": "none" },
        "singleline": { "delimiter": "semi" }
      }
    ],
    "@typescript-eslint/no-floating-promises": "error",
    "@typescript-eslint/no-unnecessary-qualifier": "error",
    "@typescript-eslint/no-unnecessary-type-arguments": "error",
    "@typescript-eslint/no-useless-constructor": "error",
    "@typescript-eslint/prefer-for-of": "error",
    "@typescript-eslint/prefer-function-type": "error",
    "@typescript-eslint/prefer-readonly": "error",
    "@typescript-eslint/promise-function-async": "error",
    "@typescript-eslint/quotes": ["error", "double", { "avoidEscape": true }],
    "@typescript-eslint/require-array-sort-compare": "error",
    "@typescript-eslint/require-await": "error",
    "@typescript-eslint/triple-slash-reference": "error",
    "react/jsx-boolean-value": "error",
    "react/jsx-child-element-spacing": "error",
    "react/jsx-curly-brace-presence": "error",
    "react/jsx-fragments": "error",
    "react/jsx-handler-names": "error",
    "react/jsx-key": ["error", { "checkFragmentShorthand": true }],
    "react/jsx-no-useless-fragment": "error",
    "react/self-closing-comp": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error"
  }
}
