name: ci

on:
  - push
  - pull_request
  - workflow_dispatch

jobs:
  install:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node: [14, 15]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          check-latest: true

      - name: Setup cache
        uses: actions/cache@v2
        id: cache
        with:
          path: |
            node_modules
            .yarn/cache
          key: ${{ matrix.os }}-${{ matrix.node }}-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ matrix.os }}-${{ matrix.node }}-

      - name: Install dependencies
        run: yarn install
        if: steps.cache.outputs.cache-hit != 'true'

  lint:
    needs: [install]

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [14, 15]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}

      - name: Setup cache
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            .yarn/cache
          key: ${{ matrix.os }}-${{ matrix.node }}-${{ hashFiles('yarn.lock') }}

      - name: Check code style
        run: yarn run format:check

      - name: Run lint checks
        run: yarn run lint:error

      - name: Check types
        run: yarn run typecheck

  test:
    needs: [install]

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node: [14, 15]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}

      - name: Setup cache
        uses: actions/cache@v2
        id: cache
        with:
          path: |
            node_modules
            .yarn/cache
          key: ${{ matrix.os }}-${{ matrix.node }}-${{ hashFiles('yarn.lock') }}

      - name: Run tests
        run: yarn run test:verbose

  build:
    needs: [install]

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [14, 15]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}

      - name: Setup cache
        uses: actions/cache@v2
        id: cache
        with:
          path: |
            node_modules
            .yarn/cache
          key: ${{ matrix.os }}-${{ matrix.node }}-${{ hashFiles('yarn.lock') }}

      - name: Build project
        run: yarn run build

  docker:
    needs: [install, lint, test, build]
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}

    runs-on: ubuntu-latest

    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ghcr.io/${{ github.repository }}:latest
          build-args: BUILD_ID=${{ github.sha }}
